<div class="wrapper">
<div class="horizontal-container">
  <button
    class="buttonHorizontal"
    [disabled]="isRed"
    (click)="handleButtonClick()"
  >
    пресечи
  </button>
  <traffic-light [inputState]="currentColorIndex"></traffic-light>
  <button
    class="buttonHorizontal"
    [disabled]="isRed"
    (click)="handleButtonClick()"
  >
    пресечи
  </button>
</div>
</div>

<div class="vertical-container">
  <traffic-light
    class="vertical-traffic-light"
    [inputState]="currentColorIndexV"
  ></traffic-light>
  <button class="warning" (click)="handleEmergency()" [disabled]="isWarned">
    АВАРИЯ
  </button>
  <traffic-light
    class="vertical-traffic-light"
    [inputState]="currentColorIndexV"
  ></traffic-light>
</div>

<div class="wrapper">
<div class="horizontal-container">
  <button
    class="buttonHorizontal"
    [disabled]="isRed"
    (click)="handleButtonClick()"
  >
    пресечи
  </button>
  <traffic-light [inputState]="currentColorIndex"></traffic-light>
  <button
    class="buttonHorizontal"
    [disabled]="isRed"
    (click)="handleButtonClick()"
  >
    пресечи
  </button>
</div>
</div>
