  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
  }
  
  .horizontal-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;


  }
  .vertical-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 70px;
    margin-bottom: 70px;
    align-items: center;
    flex-direction: row;
  }
  
  .horizontal-traffic-light {
    margin-top: 20px;
    width: 180px;
    background-color: black;
  }
  .vertical-traffic-light{
    transform: rotate(90deg);
  }
  
  .traffic-light-horizontal {
    width: 150px;
    display: flex;
    flex-direction: row;
  }
  .traffic-light-vertical {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .lamp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
  }
  
  .red {
    background-color: red;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  .off{
    background-color: grey;
  }
  button{
    cursor: pointer;
    height: fit-content;
    margin-top: 20px;
  }
  .warning{
    height: fit-content;
  }
  
  
